/* @import 'https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css'; */

html,
body,
canvas {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  outline: 0;
}

#viewDiv {
  padding: 0 !important;
  margin: 0 !important;
  /* height: calc(100% - 110px); */
  height: 100%;
  width: 100%;
  outline: 0;
}

#widgetTitle {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.recenter-tool {
  background-color: white;
  padding: 10px;
}


.esri-ui {
  overflow: visible;
  z-index: 20;
  /*To show suggested location even if map has a width/heigh of 0% */
}

.loading {
  position: fixed;
  font-size: 30px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  animation: jump 1s infinite;
}

@keyframes jump {
  0% {
    transform: translate(-50%, -80%);
  }

  /* 20% {
    transform: translate(-50%, -30%);
  } */
  50% {
    transform: translate(-50%, -30%);
  }

  /* 80% {
    transform: translate(-50%, -30%);
  } */
  100% {
    transform: translate(-50%, -80%);
  }
}

.schedule-box {
  margin-top: 10px;
  position: fixed;
  z-index: 10;
}

@media (max-width: 768px) {
  .schedule-box {
    margin-top: 57px;
  }
}

.schedule-col {
  height: 110px;
}

.schedule {
  padding-left: 60px;
  padding-right: 600px;
  width: calc(100% - 0px);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.schedule::-webkit-scrollbar {
  display: none;
}

.game {
  margin-right: 5px;
  background-color: #fff;
  transition: background-color 125ms ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #6e6e6e;
  height: inherit;
  width: 240px;
  text-align: left;
  display: inline-block;
  padding: 8px 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /* border-top: 0;
  border-bottom: 0;
  border-left: 0; */
  /* border-style: solid; */
  /* border: 1px solid rgb(46, 46, 46); */
}

.date {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 700;
}

.game-id, .team {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 400;
}

.location {
  margin-top: 3px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  font-family: "Satoshi", "Noto Sans TC";
  font-weight: 400;
  color: rgb(47, 47, 47);
}